@import './variables';
@import './mixins';

li {
  list-style: none;
}

p {
  font-size: 20px;
  font-weight: 400;
  color: $clr-white;
  font-family: 'Karla';

  @include mq(xl) {
    font-size: 17px;
    line-height: 28px;
    text-align: justify;
  }
}

h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  color: $clr-mustard;

  @include mq(xl) {
    font-size: 25px;
  }

}



h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  color: $clr-mustard;
}

h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  color: $clr-mustard;

  @include mq(md) {
    font-size: 30px;
    line-height: 36px;
  }

  @include mq(sm) {
    font-size: 20px;
    line-height: 28px;
  }
}

h4 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  color: $clr-mustard;

  @include mq(sm) {
    font-size: 20px;
  }
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $clr-darkgreen;
  font-family: 'Barlow';
}