/*global start*/
@import 'mixins';
@import 'variables';
@import 'typography';

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif;
    font-family: 'Marcellus', serif;
    position: relative;
    background: url(../images/bannerback.jpeg) #0d1e1e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-blend-mode: multiply;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    color: inherit;
}

html {
    font-size: 62.5%;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
}

/*global end*/

/*header start*/
header.site-header {
    background: #0d1e1e;
    font-size: 18px;
    padding: 14px 0;
    font-weight: 700;
    text-transform: capitalize;
    color: $clr-mustard;
    position: absolute;
    z-index: 999;
    width: 100%;
    transition: 0.3s;
    top: 0;
    left: 0;
    right: 0;
}

// header.site-header.sticky {
//     background: #ffffff;
//     box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
//     animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
//     padding: 10px 0;
//     position: fixed;
// }

.site-header .site-nav ul li a.active {
    color: $clr-mustard;
}

.site-logo img {
    width: 100%;
    max-width: 300px;
}

.site-nav a {
    padding: 8px 9px !important;
    display: inline-block;
    font-weight: 500;
    font-family: 'Karla', sans-serif;
    color: $clr-white;

    &:hover {
        color: $clr-mustard;
    }
}


.site-header {
    padding: 10px 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav ul {
    display: flex;
    align-items: center;
}

.closed-menu {
    display: none;
}

.menu-toggle {
    display: none !important;
}

/*header end*/

/*banner-css-start*/

.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: -1;

    p {
        font-size: 18px;
        line-height: 35px;
        font-family: 'Karla';
    }
}

.banner__picture {
    padding: 80px 0;
}

/*banner-css-end*/

/*explore-css-start*/
section.explore {
    background: $clr-white;
}

.explore__text {
    padding: 50px 0;

    p {
        margin-top: 20px;
        color: $clr-darkgreen;
        line-height: 27px;
    }
}

.explore {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        p {
            max-width: 80%;
            color: $clr-darkgreen;
            line-height: 29px;
        }
    }
}

.explore__picture {
    img {
        max-width: 550px;
        height: 350px;
        object-fit: cover;
        border-radius: 10px;
        transition: .3s;

        &:hover {
            transform: translateY(-10px);
        }
    }
}

/*explore-css-end*/

/*popular-css-start*/
section.popular {
    background: $clr-white;
    padding: 30px 0;
}

/*popular-css-end*/

/*accommodation-css-start*/
section.accommodation {
    padding: 50px 0 10px 0;
    background: $clr-white;

    .accommodation__picture {
        img {
            max-width: 250px;
            height: 195px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    p.accomodationtext {
        color: $clr-darkgreen;
    }

    .accommodation__btn {
        display: flex;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        align-items: center !important;

    }

    .accommodation__btn a {
        display: inline-block;
        font-size: 1.6rem;
        border: 2px solid $clr-mustard;
        padding: 15px 30px;
        text-transform: capitalize;
        color: $clr-darkgreen;
        transition: all 0.3s ease-in-out;
        border-radius: 10px;

        &:hover {
            color: $clr-white;
            background-color: $clr-mustard;
            border-top: 3px solid $clr-white;
            border-bottom: 3px solid $clr-white;
        }
    }
}

.row.accommodation {
    margin-bottom: 30px;
}

.banner__picture.accommodation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 0;

    img {
        max-width: 500px;
    }
}

.accommodation {
    &__text {
        h4 {
            color: $clr-mustard;
            font-size: 27px;
        }

        p {
            color: $clr-darkgreen;
            line-height: 29px;
        }
    }
}

p.accommodation__unique {
    color: $clr-white;
}

section.accommodation__banner {
    padding: 50px 0;
}

/*accommodation-css-end*/

/*reviews-css-start*/
section.reviews {
    background: $clr-white;

    h2.reviews__title {
        text-align: center;
        padding: 50px 0;
    }

    .reviews-section {
        text-align: center;
        max-width: 935px;
        margin: 0 auto;

        p {
            color: $clr-darkgreen;
        }
    }
}



.reviews .owl-theme .owl-nav [class*='owl-'] {
    color: $clr-white;
    font-size: 14px;
    margin: 5px;
    padding: 6px 6px;
    background: $clr-darkgreen;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
    border-radius: 48px;
}

/*review-css-end*/

/*iformation-css-start*/
.casino-information.part {
    padding: 50px 0;
    background-color: $clr-white;
}

.gambler__bannertext {
    z-index: 998;

    h1 {
        font-size: 60px;
        color: $clr-white;
        font-family: 'Barlow';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.casino__content p {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Barlow';
    color: $clr-darkgreen;
}

/*iformation-css-end*/


/*Start-destination-css*/
.destination__content {
    padding: 0 0 50px 0;
    background-color: $clr-white;
}

.destination__content .row.igralnice {
    margin-bottom: 15px;
    box-shadow: 0px 0px 3px #bcbcbc;
    padding: 17px;
    background: rgba(73, 73, 73, 0.0588235294);
}

.slovernia__pictures.overlay {
    height: 200px;
    margin: 20px 20px;

    img {
        height: 100%;
        object-fit: cover;
        width: 100%;
        max-width: 300px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    }
}

.destination-card.page {
    max-width: 75%;
    margin: 0 auto;
}

.destination-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 25px;

    h3 {
        font-size: 21px;
        font-family: 'Barlow';
        line-height: 30px;
        color: $clr-mustard;
        text-align: initial;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        color: $clr-darkgreen;
        line-height: 26px;
        text-align: justify;
        font-family: "Barlow";
    }
}

.destination__content .row.igralnice a.btn.btn-content {
    box-shadow: #112d2a 8px 7px;
    text-transform: capitalize;
    font-size: 18px;
    color: $clr-white;
    background-color: $clr-mustard;
    border: none;
    border-radius: 6px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 12px 24px;
    box-shadow: #112d2a 8px 7px;
    display: inline-block;

    &:hover {
        color: $clr-white;
        background-color: $clr-mustard;
        box-shadow: none;
    }
}

/*End-destination-css*/

/*Start-about-css*/
.mission {
    background: $clr-white;
    padding: 50px 0;

    &__content {
        p {
            color: $clr-darkgreen;
            font-size: 18px;
            line-height: 25px;
            font-family: "Barlow";
        }
    }
}

.section-head {
    margin-bottom: 60px;
}

section.choose {
    background: $clr-white;

    .choose__body {
        background: $clr-white;
        text-align: center;
        padding: 30px 25px;
        box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
        border-radius: 20px;
        border: 5px solid rgba(0, 0, 0, 0.07);
        margin-bottom: 30px;
        transition: all 0.5s ease 0s;

        h3 {
            font-size: 25px;
            margin-bottom: 20px;
        }

        p {
            color: $clr-darkgreen;
            line-height: 22px;
            text-align: center;
            font-size: 16px;
        }

    }

    h3.choose__title {
        text-align: center;
        padding-bottom: 21px;
    }

    .choose__card {
        img {
            max-width: 70px;
        }
    }
}

/*End-about-css*/


/*contact-css-start*/
section.contactbanner {
    padding: 150px 0 50px 0;

}

.contact__section {
    padding: 50px 0 0 0;
    background: $clr-white;
}

.contact__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        max-width: 500px;
    }
}

.contact__para {
    h4 {
        color: $clr-mustard;
        font-size: 18px;
        font-family: 'Barlow';

        &:hover {
            color: $clr-mustard;
        }
    }

    a {
        color: $clr-darkgreen;
        font-size: 20px;

    }

    p {
        line-height: 28px;
        font-family: 'Barlow';
        color: $clr-darkgreen;
    }
}

.contact__cookies {
    padding: 50px 0;

    p {
        line-height: 28px;
        font-family: 'Barlow';
        color: $clr-darkgreen;
    }
}

.contact__text {
    p {
        font-size: 18px;
        line-height: 28px;
        color: $clr-darkgreen;
    }
}

/*contact-css-end*/

/*privacy-css-end*/
p.privacy__infos {
    font-size: 18px;
    line-height: 27px;
    font-family: 'Barlow';
    font-weight: 400;
    color: $clr-darkgreen;
}

.privacy__section {
    padding: 50px 0;
    background: $clr-white;
}

.third__party {
    h3 {
        font-size: 25px;
    }

    li {
        font-family: 'Karla';
        color: $clr-darkgreen;
        margin: 10px 0;
        position: relative;

        &::before {
            position: absolute;
            content: "";
            height: 6px;
            width: 6px;
            bottom: 9px;
            left: -12px;
            border-radius: 6px;
            background: $clr-darkgreen;
        }
    }
}

.Consentement__part h3 {
    font-size: 25px;
}

.online__policy h3 {
    font-size: 25px;
}

.child__info h3 {
    font-size: 25px;
}

.privacy__policy h3 {
    font-size: 25px;
}

.privacy__logs h3 {
    font-size: 25px;
}

.privacy__details h3 {
    font-size: 25px;
}

/*privacy-css-end*/

/*footer-css-start*/
.footer {
    padding: 80px 0;
}

.scrl-icons {
    margin-top: 20px;

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $clr-mustard;
        color: $clr-white;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background: $clr-mustard;
        font-size: 22px;
        margin: 0 20px;
        text-decoration: none;

        &:hover {
            color: #cd8c2f;
            background: #fff;
        }
    }
}

.footer__about {
    padding: 20px 0;

    h3 {
        color: $clr-mustard;
        font-size: 25px;
        line-height: 30px;
    }

    p {
        color: $clr-white;
        font-size: 18px;
        line-height: 25px;
    }
}

.footer__lists {
    padding: 20px 0;

    li {
        color: $clr-white;
        font-size: 18px;
        line-height: 24px;
        text-transform: capitalize;
        margin-bottom: 5px;
        font-family: 'Karla';

        & a:hover {
            color: $clr-mustard;
        }
    }

    h3 {
        color: $clr-darkgreen;
    }
}

.footer-content img {
    max-width: 170px;
    margin-bottom: 40px;
}

/*footer-css-end*/

/*# sourceMappingURL=style.css.map */